/** Write your CSS in here **/
:root {
  --primary-color: orange;
  --secondary-color: white;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--primary-color);
}

.quote-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px;
  width: 70%;
  height: 400px;
  background-color: var(--secondary-color);
}

.quote-text {
  display: flex;
  color: var(--primary-color);
  font-size: 35px;
  width: 80%;
  height: 200px;
}

.quote-author {
  font-size: 20px;
  text-align: right;
  color: var(--primary-color);
  width: 80%;
}

.btn-new {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 80%;
  height: 100px;
}

#new-quote {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 0px;
  font-size: 20px;
  height: 50px;
  width: 150px;
}

.quote-auto-play {
  color: var(--primary-color);
  font-size: 20px;
}